<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrzeszekTimer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Orzeszek_Timer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OrzeszekTimer.Settings>
            <setting name="LastTimeSpan" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowSettingsSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlarmSound" serializeAs="String">
                <value>Normal beep.wav</value>
            </setting>
            <setting name="CurrentStart" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="TimerRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberTimerOnClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoopTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseOnFinish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScaleInterface" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoopNotification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PopupOnFinish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlashOnFinish" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTimerInTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
        </OrzeszekTimer.Settings>
        <Orzeszek_Timer.Settings>
            <setting name="LastTimeSpan" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowSettingsSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlarmSound" serializeAs="String">
                <value>Normal beep.wav</value>
            </setting>
            <setting name="CurrentStart" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="TimerRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberTimerOnClose" serializeAs="String">
                <value>True</value>
            </setting>
        </Orzeszek_Timer.Settings>
    </userSettings>
</configuration>